<h2>Default theme</h2>
<div class="examples-list default-theme">
  <div class="example-item">
    <span>Single select</span>
    <ngx-select-zigzag
      [itemsDropdownClass]="'default-theme'"
      [labelKey]="'label'"
      [valueKey]="'value'"
      [options]="options"
    ></ngx-select-zigzag>
  </div>
  <div class="example-item">
    <span>Multi select</span>
    <ngx-select-zigzag
      [itemsDropdownClass]="'default-theme'"
      [labelKey]="'label'"
      [valueKey]="'value'"
      [options]="options"
      [(multiValue)]="multiValue"
      [multiple]="true"
    ></ngx-select-zigzag>
  </div>
  <div class="example-item">
    <label>Enter arr e.g [1,2,3]</label>
    <span>items: {{ multiValue() | json }}</span>
    <input #multiValueInput />
    <button (click)="setMultiValueFromJson(multiValueInput.value)">Set new selected items</button>
  </div>
</div>
