<h2>Custom Item Template:</h2>
<div class="examples-list default-theme">
  <div class="example-item">
    <span>Single select</span>
    <ngx-select-zigzag
      [itemsDropdownClass]="'default-theme'"
      [labelKey]="'label'"
      [valueKey]="'value'"
      [options]="options"
    ></ngx-select-zigzag>
  </div>
  <div class="example-item">
    <span>Multi select</span>
    <ngx-select-zigzag
      [itemsDropdownClass]="'default-theme'"
      [labelKey]="'label'"
      [valueKey]="'value'"
      [options]="options"
      [multiple]="true"
    >
      <ng-template ngxSelectZigzagMultivalueItemTemplate let-item="item">
        <div class="custom-item-wrapper">{{ item.label }}-ok</div>
      </ng-template>
    </ngx-select-zigzag>
  </div>
</div>
