@mixin default-theme() {
  .ngx-select-zigzag {
    .select-wrapper {
      border-color: #e5e8ed;
      border-radius: 12px;
    }
    .select-placeholder {
      color: #707787;
    }
  }
  ngx-select-zigzag-form-field {
    .content-wrapper {
      border: 1px solid #e5e8ed;
      border-radius: 12px;
    }
  }
  ngx-select-zigzag-multivalue {
    .item-wrapper {
      background: #f3f5f8;
    }
  }
}
